langchain-text-splitters
langchain-community
langgraph
langchain-huggingface
langchain-pinecone
langchain
langchain-core
langchain_community
docx2txt
pypdf
langchain_chroma
python-multipart
fastapi
uvicorn
langchain-groq==0.1.6
transformers==4.43.2
sentence-transformers==3.0.1
langchain-huggingface
kagglehub